@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-bg text-text font-sans;
    line-height: 1.5;
    overflow-x: hidden;
  }

  * {
    @apply border-border;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
